/* -------------------------------------------- */
/*                  TodoDetails                 */
/* -------------------------------------------- */

.todo_details_wrapper {
  height: 100vh;
  width: 100%;
  border-left: $border;
}

.todo_details_header {
  width: 100%;
  height: 4rem;
  padding: 0px 2rem;
  border-bottom: $border;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* -------------------------------------------- */
/*              Left Details header             */
/* -------------------------------------------- */

.todo_details_header_left {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.todo_details_header_divider {
  display: flex;
  background-color: $border-color-details-header;
  width: 1px;
  height: 1.5rem;
}

.todo_details_header_checkbox {
  width: 24px;
  height: 24px;
}

.todo_details_header_calendar {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

/* -------------------------------------------- */
/*             Right details header             */
/* -------------------------------------------- */

.todo_details_header_right {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

/* -------------------------------------------- */
/*             Todo details content             */
/* -------------------------------------------- */

.todo_details_content_wrapper {
  position: relative;
  display: flex;
  min-height: 150px;
  padding: 1.5rem 2rem;
  flex-direction: column;
}

.todo_details_content_title {
  font-size: 1.25rem;
  max-width: 80%;
}

.todo_details_content_description {
  padding-top: 1rem;
  max-width: 60%;
  color: $text-color-details-description;
}
