
/* -------------------------------------------- */
/* -------------------------------------------- */
/*                 Globals scss                 */
/* -------------------------------------------- */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* -------------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font-primary;
    color: $text-color-primary;
}

p {
    font-family: $font-primary;
    font-weight: 400;
    color: $text-color-primary;
    font-size: 0.875rem;
}







