/* -------------------------------------------- */
/*                   Todo App                   */
/* -------------------------------------------- */

.todo_wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  position: relative;
}

.content_wrapper {
  display: flex;
  flex-grow: 1;
  position: relative;
  width: calc(100% - 280px);
}

.todoContent {
  width: 60%;
  min-width: 450px;
  position: relative;
}

.todoDetails {
  flex-grow: 1;
  min-width: 350px;
}

.resize_handle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  cursor: ew-resize;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -15px; /* Posuňte rukoväť tak, aby bola na okraji */
  background-color: $border;
}


@media screen and (max-width: 1100px) {

  .content_wrapper {
    overflow-x:hidden ;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    width: calc(100% - 280px);
    min-width: 350px;
  }

  .todoContent {
    width: 100%;
    min-width: 100px;
    min-height: 60%;
    position: relative;
  }

  .todoDetails {
    border-top: $border;
    width: 100%;
    flex-grow: 1;
    min-width: 100px;
  }

}
